{{ define "main" -}}

<p>
Filament is a real-time physically-based renderer written in C++. It is mobile-first, but also
multi-platform.
</p>

<iframe src="https://google.github.io/filament/webgl/demo_suzanne.html"></iframe>

<p>
We are very conscientious about keeping Filament small, fast to load, and focused on
rendering. For example, Filament does not compile materials at run time. Instead, we provide a
command line tool
(<a href="https://github.com/google/filament/tree/master/tools/matc">matc</a>)
that does this offline.
</p>

<p>
For more information, see:

<ul>
    <li><a href="documentation">core documentation</a></li>
    <li><a href="webgl">JavaScript documentation</a></li>
    <li><a href="ios">iOS tutorials</a></li>
</ul>

Check out our
<a href="https://github.com/google/filament/blob/master/README.md">README</a>
for downloads and build instructions.
</p>

<p>
    If you are running <tt>sample-gltf-viewer</tt> on your Android device, try our
    <a href="remote">remote control</a> web app.
</p>

<p>
    If you would like to view a glTF model with WebGL 2.0, try our experimental <a href="viewer">web viewer</a>.
</p>

{{- end }}
