.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results
/compile_commands.json
/.cache
build/.cmake/
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/SPIRV-Tools*
build/cmake_install.cmake
build/compile_commands.json
build/filament/
build/include/
build/libs/
build/mac/ninja
build/samples/
build/shaders/
build/third_party/
build/tools/
