.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results
/compile_commands.json
/.cache
local_build