name: Android

on:
  push:
    branches:
      - main
      - release
      - rc/**

jobs:
  build-android:
    name: build-android
    # We intentially use a larger runner here to enable larger disk space
    # (standard linux runner will fail on disk space and faster build time).
    runs-on: 'ubuntu-24.04-2core'

    steps:
      - uses: actions/checkout@v4.1.6
      - name: Run Android Continuous
        uses: ./.github/actions/android-continuous
        with:
          build-abi: armeabi-v7a,arm64-v8a,x86_64
