name: iOS

on:
  push:
    branches:
      - main

jobs:
  build-ios:
    name: build-ios
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2.0.0
      - name: Run build script
        run: |
          cd build/ios && ./build.sh continuous
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: filament-ios
          path: out/filament-release-ios.tgz
      - name: Build iOS samples
        run: |
          cd build/ios && ./build-samples.sh continuous
