name: Linux

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release
      - rc/**

jobs:
  build-linux:
    name: build-linux
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2.0.0
      - name: Run build script
        run: |
          cd build/linux && printf "y" | ./build.sh continuous
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: filament-linux
          path: out/filament-release-linux.tgz
