name: Linux

on:
  push:
    branches:
      - master

jobs:
  build-linux:
    name: build-linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.0.0
      - name: Run build script
        run: |
          cd build/linux && yes | ./build.sh continuous
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: filament-linux
          path: out/filament-release-linux.tgz
