name: macOS

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release
      - rc/**

jobs:
  build-mac:
    name: build-mac
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2.0.0
      - name: Run build script
        run: |
          cd build/mac && printf "y" | ./build.sh continuous
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: filament-mac
          path: out/filament-release-darwin.tgz
      - name: Check public headers
        run: |
          build/common/check-headers.sh out/release/filament/include
