name: CI

on: [pull_request]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run build script
      run: cd build/macOS && ./build.sh
      env:
        workflow_os: mac
        target: presubmit
