name: Presubmit iOS

on: [pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Run build script
        run: |
          cd build/ios && ./build.sh ${TARGET}
        env:
          TARGET: presubmit
