name: Web

on:
  push:
    branches:
      - main
      - release
      - rc/**

jobs:
  build-web:
    name: build-web
    runs-on: 'ubuntu-24.04-16core'

    steps:
      - uses: actions/checkout@v4.1.6
      - name: Run build script
        run: |
          cd build/web && printf "y" | ./build.sh continuous
      - uses: actions/upload-artifact@v4
        with:
          name: filament-web
          path: out/filament-release-web.tgz
